{% extends "base.html" %}

{% block nav-about %} class="active"{% endblock %}

{% block content %}

<div class="container">
Многоквартирный дом – это сложный объект управления.  Обеспечить автоматизацию всех задач, позволяющих эффективно выполнять управление таким объектом, способно лишь специальное профессионально разработанное программное обеспечение.
</div>
<br>
<div class="container">
ГУП «ЕИРЦ СВАО» предлагает программу, предназначенную  для  автоматизации бухгалтерского  учета  на  предприятиях  ЖКХ,  деятельность  которых  связана  с  расчетом  начислений  за коммунальные и прочие услуги населению.       Основными направлением автоматизации является  расчет начислений за  жилищно- коммунальные  услуги,  ведение  паспортного  стола  и  учет жилого фонда. Задача предназначена  для  использования в ТСЖ, ЖСК,  управляющих   компаниях,  единых   расчетных    центрах,   а   также   в   других   организациях,   занимающихся начислениями за  услуги ЖКХ  и  расчетами с населением.
</div>
<br>
<div class="container">
Программный комплекс имеет  клиент-серверную архитектуру  и  выполнен  на  базе  Microsoft  SQL Server.  Система полностью решает задачи управления многоквартирным домом в комплексе. В основе системы лежит тщательное планирование  и  единство  баз  данных, которые являются централизованными, что исключает недостоверность и искажение информации. Система   функционирует   в  режиме   реального  времени,   обеспечивая информационное взаимодействие со всеми информационными структурами города.   
</div>
{% endblock %}
