<html>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-theme.min.css" />
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <body>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">ИнфоСитиБлиц</a>
            </div>
            <div class="collapse navbar-collapse" id="about">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">О компании</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </body>
</html>